
body {
    margin: 30px 50px 30px 50px;
    padding: 0;
}

.menu {
    
        font-family: "Helvetica", cursive, sans-serif;
        background-color:#ec80e3; 
      
      h1 {
        text-align:center;
        color: violet;
      } 
}

.page {

}

.footer {

}