/* Remove the standard margin/padding of the html body */
body {
    margin: 0;
    padding: 0;
}

.menu {
    html {
        font-family: "Helvetica", cursive, sans-serif;
        background-color:#1B5B2D; 
      }
      h1 {
        text-align:center;
        color: tomato;
      } 
}

.page {

}

.footer {

}